body {
    margin: 0;
}

@media screen and (min-width: 321px) {
    body {
        background-image: url("../images/fond-zte.jpg");
        background-repeat: no-repeat;
        margin: 106px 40px;
        width: 320px;
    }
}

.wrapper {
    background-color: #3b3b3b;
    padding-bottom: 1em;
}

form {
    text-align: center;
    margin: -1em 0 1em;
}

select {
    font-size: 1.5em;
}