html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #3b3b3b;
    margin: 0;
}

#main {
    width: 300px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
}

#wrapper_feuille, #wrapper_gallerie {
    backface-visibility: hidden;
    padding-bottom: 1em;
    transform: rotateY(0);
    transition: transform 1s ease;
}

#wrapper_gallerie {
    position: absolute;
    top: 25%;
    transform: rotateY(180deg);
}

#case:checked ~ #wrapper_feuille {
    transform: rotateY(180deg);
}

#case:checked ~ #wrapper_gallerie {
    transform: rotateY(0);
}

form {
    text-align: center;
/*    margin: -1em 0 1em;*/
}

select {
    font-size: 1.5em;
}